@charset "utf-8";
.L_editalbum{padding:20px 50px 30px 50px;width:412px;}
.L_editalbum .m_ly_tip{top:16px;left:112px;}
.L_editalbum .m_Layform dt{width:60px;}
.L_editalbum .m_Layform .M_inpt{width:282px;}
.L_editalbum .album_info{padding:0 0 6px 0;margin:0 0 17px 0;background:url(../../images/common/dotted.gif) repeat-x left bottom;overflow:hidden;zoom:1;}
.L_editalbum .set_authort{margin:0 0 10px 0;}
.L_editalbum .set_authort dt{float:left;padding-right:2px;}
.L_editalbum .set_authort dd{float:left;}
.L_editalbum .set_authort li{padding:2px 0 0 0;}
.L_editalbum .set_authort .M_radio{margin-right:2px;}
.L_editalbum .save_cal{margin:20px 0 0 60px;}
.L_editalbum .save_cal .M_btn_e{margin:0 10px 0 0;}