@charset "utf-8";
.L_editphoto{padding:20px 50px 30px 50px;width:412px;position:relative;}
.L_editphoto .m_ly_tip{top:-14px;left:112px;}
.L_editphoto .M_txtarea,.L_editphoto .inputbd input{cursor:text;}
.L_editphoto .m_Layform dt{width:60px;}
.L_editphoto .m_Layform .M_inpt{width:277px;}
.L_editphoto .inputbd{width:288px;border:1px solid #e1e1e1;border:1px solid #e1e1e1;padding:0 0 3px 3px;}
.L_editphoto .inputbd input{border:none;background:none;width:122px;float:left;height:16px;padding:2px 0 4px 0;margin:3px 0 0 0;}
.L_editphoto .inputbd input.M_txte{padding-left:10px;}
.L_editphoto .M_checkbox{margin:0 4px 0 0;vertical-align:-3px;}
.L_editphoto .tagarea{width:293px;margin-top:10px;}
.L_editphoto .ddbox{padding-left:60px;}
.L_editphoto .setcover{margin-top:7px;}
