@charset "utf-8";
.L_editDesc{width:280px;padding:16px 50px 30px 50px;}
.L_editDesc .letrCount{padding:0 2px 2px 0;text-align:right;}
.L_editDesc .M_txtarea{width:267px;margin:0 auto;display:inline-block;height:65px;padding:5px 4px 3px 5px;}
.L_editDesc .submit_centr{margin:20px 0 0 0;}