@charset "utf-8";
.L_faces{width:402px;overflow:hidden;_position:relative;}
.L_faces .tab_kind{margin:0 0 10px;height:23px;line-height:23px;padding:10px 0 0 16px}
.L_faces .tab_kind{color:#5db1f0;} 
.L_faces .tab_kind a{padding:0 7px;display:inline-block;margin:0 -2px;_margin:0 -3px;}
.L_faces .tab_kind a.current{text-decoration:none;cursor:default;background:#f0f0f0;position:relative;_position:static;z-index:2;-moz-border-radius:3px;-webkit-border-radius:3px;}
.L_faces .detail{padding:0 10px 10px;}
.L_faces .tab_kind span{float:right;padding:4px 13px 0 0;}
.L_faces .tab_kind span a,
.L_faces .tab_kind	span a:hover{float:left;display:inline;margin:0 2px;padding:0;line-height:17px;background:url(../../images/common/icon.png) no-repeat;width:17px;height:17px;_background-image:url(../../images/common/icon.gif);}
.L_faces .tab_kind a.pre_d,
.L_faces .tab_kind a.pre_d:hover{background-position:-70px -1020px;cursor:default}
.L_faces .tab_kind a.next_d,
.L_faces .tab_kind a.next_d:hover{background-position:-70px -1050px;cursor:default}
.L_faces .tab_kind a.pre{background-position:0 -1020px;}
.L_faces .tab_kind a.pre:hover{background-position:-35px -1020px;}
.L_faces .tab_kind a.next{background-position:0 -1050px;}
.L_faces .tab_kind a.next:hover{background-position:-35px -1050px;}

.L_faces .faces_list{margin:0 0 0 5px;_border-left:1px solid #E8E8E8}
.L_faces .faces_list li{cursor:pointer;float:left;border:1px solid #e8e8e8;height:22px;width:26px;overflow:hidden;margin:-1px 0 0 -1px;padding:4px 2px;text-align:center;}
.L_faces .faces_list li:hover{border:1px solid #0095cd;background-color:#fff9ec;position:relative;z-index:2;}
.L_faces .faces_list_hot{margin-bottom:10px;_border-left:1px solid #FCE089;}
.L_faces .faces_list_hot li{border-color:#fce089;background:#fef9e7;}

.L_faces .m_pages_minibtn{margin:0 5px 0 0;padding:10px 0 0;}
.L_faces .faces_magic_list{margin:0 0 0 5px;overflow:hidden;width:384px;zoom:1;position:relative;}
.L_faces .faces_magic_list li{position:relative;float:left;width:54px;height:74px;overflow:hidden;margin:0 10px 0 0;line-height:1.12}
.L_faces .faces_magic_list li a.img{display:block;border:1px solid #fff;}
.L_faces .faces_magic_list li a.img:hover{border:1px solid #0095cd;}
.L_faces .faces_magic_list li a img{display:block;width:50px;height:50px;border:1px solid #d4d3d3;}
.L_faces .faces_magic_list li a.img:hover img{border-color:#0095cd;}
.L_faces .faces_magic_list li a.play{background-position:-70px -900px;display:block;position:absolute;width:16px;height:16px;top:34px;right:0;}
.L_faces .faces_magic_list li span{display:block;text-align:center;color:#808080;cursor:pointer;height:14px;overflow:hidden;}
.L_faces .faces_magic_list li.clear{height:0px;}
.L_faces .info{float:left;padding:10px 0 0 8px;}
.L_faces .info .play{background-position:-70px -900px;display:inline-block;vertical-align:middle;margin:0 3px;width:16px;height:16px;_vertical-align:-1px;}
.L_layer .m_tab .ico_magic{float:left;width:15px;height:15px;margin:6px 5px 0 0;display:inline;background-position:-35px -900px;}

.L_faces .faces_list .M_loading,.L_faces .faces_list .M_loading:hover{border:0 none;background-color:#fff;position:static;cursor:default;float:none;margin:0 auto;padding:0;}