@charset "utf-8";
.L_menu_list{background:#fff;color:#666;border:1px solid #ccc;padding:1px;position:absolute;}
.L_menu_list .atList li{display:inline;}
.L_menu_list .title{padding:5px 10px;display:block;cursor:default;}
.L_menu_list .atList a,.L_menu_list .srchList a{white-space:nowrap;padding:5px 10px;display:block;}
.L_menu_list .atList a{color:#666;*font-family:SimSun;}
.L_menu_list .srchList em{color:#FF0084;}
.L_menu_list a:hover,
.L_menu_list li.cur a,
.L_menu_list li.cur a:hover{background-color:#f0f0f0;text-decoration:none;}
.L_menu_list .srchList{font-size:12px;}