@charset "utf-8";
.L_movephoto{width:280px;padding:45px 50px 30px 50px;position:relative;}
.L_movephoto .chose_slt dt{float:left;padding:7px 12px 0 0;}
.L_movephoto .chose_slt dd{float:left;display:inline;zoom:1;}
.L_movephoto .m_smltSelect .select{width:180px;}
.L_movephoto .m_smltSelect .items{width:184px;background:#FFF;}
.L_movephoto .submit_centr{margin:45px 0 0 0;}