@charset "utf-8";
.L_name_card{width:360px;}
.L_name_card .name dt, .L_name_card .name dd, .L_name_card .info dt, .L_name_card .info dd{float:left;display:inline;}
.L_name_card .name{padding:15px 15px 10px;padding-bottom:9px\9;zoom:1;}
.L_name_card .name dt img{height:50px;display:block;}
.L_name_card .name dd{margin:-4px 0 0 10px;line-height:20px;}
.L_name_card .name dd p{width:260px;word-break:break-all;word-wrap:break-word;}
.L_name_card .name dd div{width:210px;}
.L_name_card .userdata{width:270px;}
.L_name_card .userdata .M_vline{margin:-2px 6px 0 6px;}
.L_name_card .name .address img{margin:0 0 0 3px;}
.L_name_card .info{margin:0 15px 8px;line-height:18px;width:330px;}
.L_name_card .info dd{width:290px;height:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.L_name_card .info dd a{display:inline-block;}
.L_name_card .links{padding:6px 15px 5px;overflow:hidden;background:#F5F5F5;text-align:right;}
.L_name_card .links .M_btn_d_done{margin-right:6px;}
.L_name_card .userdata li{float:left;line-height:1.2;padding:4px 0 2px 0;}
.L_name_card .userdata li.W_vline{margin:0 8px;}
.L_name_card .list{border-top:1px dotted #aaa;margin:0 15px;width:330px;overflow:hidden;}
.L_name_card .list .my_pic{text-align:right;padding:6px 0 8px 0;}
.L_name_card .list .t{float:left;}
.L_name_card .list ul{padding-bottom:12px;width:342px;height:30px;}
.L_name_card .list li{float:left;display:inline;margin-right:12px;}
.L_name_card .list li.nophoto{display:block;float:none;margin:0;text-align:center;line-height:30px;}
.L_name_card .list li img{display:block;width:30px;height:30px;}
.L_name_card .links a{vertical-align:middle;}