@charset "utf-8";
.L_answer{padding: 20px 50px 30px 50px;width:280px;}
.L_answer .tip{margin-bottom:15px;}
.L_answer .m_Layform .M_inpt{width:185px;}
.L_answer .m_Layform{margin-bottom:10px;}
.L_answer .m_Layform .tipBox{clear:left;padding-left:38px;}
.L_answer .submit_cent{margin-top:20px;}
.L_answer .submit_cent .M_btn_e{margin:0 10px 0 0;}