@charset "utf-8";

/*首页导航样式*/
.m_nav_home{margin:35px 0 0 0;height:81px;background:#f6f6f6 url(../../images/common/dotted.gif) repeat-x 0 bottom;}
.m_nav_home .nav_home{width:950px;margin:0 auto;}
.m_nav_home a:hover{text-decoration: none;}
.m_nav_home .logo{height:46px;background:url(../../images/common/logo.png) no-repeat 0 0px;_background-image:url(../../images/common/logo.gif);float:left;margin:18px 15px 0 0;line-height:0px;overflow:hidden;}
.m_nav_home .logo a{width:141px;height:46px;display:block;text-indent:-10000px;}
.m_nav_home .nav{float:left;font-size:15px;font-family:\5fae\8f6f\96c5\9ed1;margin-top:24px;}
.m_nav_home .nav li{float:left;}
.m_nav_home .current .link{color:#5db1f0;}
.m_nav_home .album{position:relative;z-index:10;}
.m_nav_home .album .valign{*zoom:1;cursor:pointer;}
.m_nav_home .nav .M_dotted_y{width:1px;height:14px;display:inline-block;font-size:0px;vertical-align:middle;}
.m_nav_home .nav .link{display:inline-block;padding:6px 13px 0 12px;border:1px solid #f6f6f6;border-bottom:none;margin:0 16px 0 17px;}
.m_nav_home .focus .link{border:1px solid #cdcdcd;border-bottom:none;background-color:#fff;}
.m_nav_home .panel{position:absolute;left:17px;top:27px;width:94px;border:1px solid #cdcdcd;border-top:none;background:#fff;z-index:1;display:none;}
.m_nav_home .focus .panel{display:block;}
.m_nav_home .menulist{padding-top:5px;}
.m_nav_home .menulist li{float:none;}
.m_nav_home .menulist a{padding:4px 12px 0px;font-size:14px;display:block;height:26px;}
.m_nav_home .menulist a:hover{background:#f0f0f0;}
.m_nav_home .con{float:right;margin-top:34px;}
.m_nav_home .con .M_ico{margin:0 0 0 10px;}
.m_nav_home .nav .valign{vertical-align:middle;}
.m_nav_home .search{float:right;background:url(../../images/common/search_bg.png) no-repeat;_background-image:url(../../images/common/search_bg.gif);width:182px;height:24px;margin-top:31px}
.m_nav_home .search .s_input {float:left;background:none;border:0;padding:2px 0 5px 10px;width:150px;height:16px;line-height:1.125;padding-top:5px\9;}
:root .m_nav_home .search .s_input{padding-top:3px\9;}
.m_nav_home .search .btn{display:block;width:20px;height:24px;float:left;vertical-align:middle;background:url(../../images/common/icon.png) no-repeat 0 -236px;_background-image:url(../../images/common/icon.gif);}
.m_nav_home .search .btn:hover{background-position:-70px -236px;}
.m_nav_home .search .btn:active{background-position:-35px -236px;}

/*--其他页导航样式--*/
.m_nav{margin:35px 0 0 0;height:36px;background:#f6f6f6 url(../../images/common/dotted.gif) repeat-x 0 bottom;}
.m_nav a:hover{text-decoration: none;}
.m_nav .nav_o{width:950px;margin:0 auto;}
.m_nav .logo{height:30px;background:url(../../images/common/logo_o.png) no-repeat 0 0px;_background-image:url(../../images/common/logo_o.gif);float:left;margin:3px 17px 0 0;line-height:0px;overflow:hidden;}
.m_nav .logo a{width:93px;height:30px;display:block;text-indent:-10000px;}
.m_nav .nav{float:left;margin-top:5px;}
.m_nav .nav li{float:left;}
.m_nav .nav .link{display:block;padding:10px 13px 8px;}
.m_nav .con{float:right;margin-top:10px;}
.m_nav .con .M_ico{margin:0 0 0 10px;}
.m_nav .search{float:right;background:url(../../images/common/search_bg.png) no-repeat;_background-image:url(../../images/common/search_bg.gif);width:182px;height:24px;margin-top:7px}
.m_nav .search .s_input {float:left;background:none;border:0;padding:2px 0 5px 10px;width:150px;height:16px;line-height:1.125;padding-top:5px\9;}
:root .m_nav .search .s_input{padding-top:3px\9;}
.m_nav .search .btn{display:block;width:20px;height:24px;float:left;vertical-align:middle;background:url(../../images/common/icon.png) no-repeat 0 -236px;;_background-image:url(../../images/common/icon.gif);}
.m_nav .search .btn:hover{background-position:-70px -236px;}
.m_nav .search .btn:active{background-position:-35px -236px;}

.m_nav .album{position:relative;z-index:10;}
.m_nav .album .valign{*zoom:1;cursor:pointer;}
.m_nav .focus .M_arrw_dwSml{_vertical-align:0}
.m_nav .nav .link{display:inline-block;padding:4px 12px 0 11px;border:1px solid #f6f6f6;border-bottom:none;margin:0 3px;}
.m_nav .focus .link{border:1px solid #cdcdcd;border-bottom:none;background-color:#fff;}
.m_nav .panel{position:absolute;left:3px;top:21px;width:80px;border:1px solid #cdcdcd;border-top:none;background:#fff;z-index:1;display:none;}
.m_nav .focus .panel{display:block;}
.m_nav .menulist{padding-top:7px;}
.m_nav .menulist li{float:none;}
.m_nav .menulist a{padding:4px 12px 0;font-size:12px;display:block;height:26px;}
.m_nav .menulist a:hover{background:#f0f0f0;}
