@charset "utf-8";
/*文字色、链接色、其它字体字色*/
body,.M_txta{color:#555;}
input,textarea{color:#555;}
.M_txtb{color:#888;}
.M_txtc{color:#222;}
.M_txtd{color:#5db1f0;}
.M_txte{color:#cacaca;}
.M_txta,.M_txtb,.M_txtc,.M_txtd{cursor:default;}
a,.M_linka a,a.M_linka{color:#5db1f0;}
a.M_linkb,.M_linkb a{color:#555;}
a.M_linkc,.M_linkc a{color:#888;}
a.M_linkd,.M_linkd a{color:#222;}
a.M_linkf,.M_linkf a{color:#cacaca;}
a.M_linke,.M_linke a{color:#888;}
a.M_linke:hover,.M_linke a:hover{color:#5db1f0;}
a.M_invrsLink,.M_invrsLink a:hover{color:#FFF;text-decoration:none;background:#5db1f0;}
.M_alert{color:#DA0000;}

/*特殊文字*/
/*.M_fntYH{font-family:"Microsoft YaHei";}*/
/*.M_fntSt{font-family:"宋体";}*/
.M_fntSmal{font-size:10px;-webkit-text-size-adjust:none;}
.M_vline{border-left-width:1px;border-left-style:solid;width:0;height:12px;overflow:hidden;display:inline-block;vertical-align:middle;}

/*小三角*/
.M_arrw_dw,.M_arrw_dwSml,.M_arrw_lf{display:inline-block;border-color:transparent;border-style:solid dashed dashed dashed;border-width:4px 4px 0px 4px;font-size:0;line-height:0;width:0;height:0;vertical-align:middle;margin:0 0 0 3px;*margin:4px 0 0 3px;}
.M_arrw_dwSml{border-width:3px 3px 0px 3px;}
.M_arrw_lf{border-style:dashed dashed dashed solid;border-width:5px 0px 5px 5px;border-left-color:#5db1f0;margin:0 3px 0 0;}
a.M_arrw_d_a, a.M_arrw_d_b, a.M_arrw_d_c, a.M_arrw_d_d{text-decoration:none;}
.M_arrw_d_a,.M_arrw_d_a .M_arrw_dwSml,.M_arrw_d_a .M_arrw_dw{border-top-color:#5db1f0;}
.M_arrw_d_b,.M_arrw_d_b .M_arrw_dwSml,.M_arrw_d_b .M_arrw_dw{border-top-color:#555;}
.M_arrw_d_c,.M_arrw_d_c .M_arrw_dwSml,.M_arrw_d_c .M_arrw_dw{border-top-color:#888;}
.M_arrw_d_d,.M_arrw_d_d .M_arrw_dwSml,.M_arrw_d_d .M_arrw_dw{border-top-color:#222;}

/*btn*/
.M_btn_a{background:url(../../images/common/btn.png) no-repeat 0 0;display:inline-block;cursor:pointer;width:200px;height:42px;position:relative;text-align:center;color:#FFF;font-family:\5fae\8f6f\96c5\9ed1;font-size:20px;padding:0 0 0 20px;position:relative;_background-image:url(../../images/common/btn.gif);}
.M_btn_a span{display:inline-block;background:url(../../images/common/btn.png) no-repeat right -43px;text-shadow:0 1px 1px #206AB5;padding:0 70px 0 48px;height:42px;cursor:pointer;line-height:41px;_background-image:url(../../images/common/btn.gif); }
.M_btn_a:hover{background-position:0 -86px;text-decoration:none;}
.M_btn_a:hover span{background-position:right -129px;}
.M_btn_a:active{background-position:0 -172px;}
.M_btn_a:active span{background-position:right -215px;}
.M_btn_b{background:url(../../images/common/btn.png) no-repeat 0 -258px;display:inline-block;text-align:center;color:#FFF;font-family:\5fae\8f6f\96c5\9ed1;font-size:14px;cursor:pointer;line-height:23px;padding:0 0 0 12px;position:relative;line-height:22px\9;_background-image:url(../../images/common/btn.gif);}
.M_btn_b span{display:inline-block;background:url(../../images/common/btn.png) no-repeat right -284px;text-shadow:0 1px 1px #206AB5;padding:0 12px 0 0;height:26px;cursor:pointer;_background-image:url(../../images/common/btn.gif);}
.M_btn_b:hover{text-decoration:none;background-position:0 -311px;}
.M_btn_b:hover span{background-position:right -337px;}
.M_btn_b:active{background-position:0 -364px;}
.M_btn_b:active span{background-position:right -390px;}

.M_btn_c,.M_btn_c_mk{background:url(../../images/common/btn_bg.png) repeat-x 0 0;display:inline-block;border:1px solid #E2E2E2;padding:0 10px;height:22px;line-height:21px;overflow:hidden;line-height:24px\9;_line-height:22px;color:#888;}
.M_btn_c:hover,.M_btn_c_mk:hover,.M_btn_c_cmt:hover{text-decoration:none;background-position:0 -23px;color:#5db1f0;}
.M_btn_c .t{display:inline-block;cursor:pointer;}
.M_btn_c .M_arrw_dwSml{vertical-align:2px;}
.M_btn_c_mk{padding:0 5px}
.M_btn_c_mk .M_line_y{padding-left:5px;cursor:pointer;display:inline-block;}
.M_btn_c_cmt{padding:0 16px;}

.M_btn_d,.M_btn_d_done{color:#FFF;background:#7DC1F3;padding:0 10px;height:24px;display:inline-block;cursor:pointer;line-height:22px;line-height:26px\9;_line-height:22px;}
.M_btn_d:hover{background:#5CA4D8;text-decoration:none;}
.M_btn_d_done{background:#CDCDCD;vertical-align:baseline;cursor:default;}
.M_btn_d_done .M_icon32{vertical-align:-3px;*vertical-align:-4px;*height:16px;_margin-top:6px;}
.M_btn_d_done:hover{text-decoration:none;}

.M_btn_e{border:1px solid #3e97da;background:#87c6f5;padding:1px;border-radius:1px;color:#fff;display:inline-block;cursor:pointer;}
.M_btn_e:hover{text-decoration:none;zoom:1;}
.M_btn_e span{background:#5db1f0;padding:0 10px 0 10px;display:inline-block;height:20px;line-height:18px;line-height:22px\9;_line-height:18px;}
.M_btn_e:hover span{background:#5ca4d8;}


.M_btn_disb,.M_btn_disb:hover{color:#CACACA;cursor:default;background-position:0 0;}
/*公用组件*/
.M_source_sm,.M_like_sm,.M_comment_sm,.M_look_sm,.M_transmit_sm,.M_transmit_un{font-family:simsun;margin-left:8px;}
.M_source_sm .M_ico,.M_comment_sm .M_ico{vertical-align:-3px;*vertical-align:-1px;}
.M_like_sm .M_ico{vertical-align:-2px;*vertical-align:0;}
.M_look_sm .M_ico{cursor:default;vertical-align:-1px;*vertical-align:1px;_vertical-align:-1px;}
.M_transmit_sm .M_ico,.M_transmit_un .M_ico{vertical-align:-1px;*vertical-align:1px;}
.M_slide_sm .M_ico{vertical-align:-3px;*vertical-align:-1px;}
.M_like_bg,.M_transmit_bg{display:inline-block;}
.M_like_bg .M_ico{vertical-align:-4px;*vertical-align:-2px;_vertical-align:-1px;}
.M_transmit_bg .M_ico{vertical-align:-3px;*vertical-align:-1px;_vertical-align:0;}
.M_transmit_bg:hover,.M_like_bg:hover{color:#5db1f0;}
.M_addTag .M_ico{background-position:-70px -840px;vertical-align:-3px;*vertical-align:-1px;}
.M_loading{background:url(../../images/common/loading.gif) no-repeat center center;}
.M_loading_a{text-align:center;margin:20px 0;display:none;}
.M_loading_a span{background:url(../../images/common/loading.gif) no-repeat 0 2px;padding: 0 0 0 20px;line-height:18px;height:18px;display:inline-block;}
.M_msgCnt{font-family:simsun;display:inline-block;background:url(../../images/common/icon.png) no-repeat -18px -467px;padding:0 0 0 8px;line-height:13px;cursor:pointer;_background-image:url(../../images/common/icon.gif);}
.M_msgCnt span{display:inline-block;padding:0 4px 0 0;color:#FFF;background:url(../../images/common/icon.png) no-repeat right -450px;height:13px;_background-image:url(../../images/common/icon.gif);}
/*虚线*/
.M_line_y{background:url(../../images/common/icon.png) no-repeat 1px -657px;display:inline-block;_background-image:url(../../images/common/icon.gif);}
.M_dotted_y,.M_dotted_x{background:url(../../images/common/dotted.gif) repeat-y 0 0;}
.M_dotted_x{background-repeat:repeat-x;}
/*翻页*/
.M_pages span,.M_pages_a span{vertical-align:middle;}
.M_pages .l,.M_pages .r,.M_pages .up,.M_pages .nt{padding:3px 5px;margin:0;}
.M_pages_a{width:178px;margin:0 auto;}
.M_pages_a .count{width:60px;display:inline-block;text-align:center;}
.M_pages_a .M_icon17_ly,.M_pages_a .M_icon18_ly{*vertical-align:-1px;margin:0 3px;}
/*文本域,输入框*/
.M_txtarea{border:1px solid #e1e1e1;padding:3px 4px;overflow-y:auto;height:50px;}
.M_checkbox,.M_radio{vertical-align:-2px;*vertical-align:-3px;}
.M_inpt{border:1px solid #e1e1e1;height:14px;padding:6px 4px 7px 5px;line-height:1.125;}
/*返回顶部*/
.M_gotop{font-family:Arial;position:fixed;left:50%;bottom:100px;margin-left:476px;width:20px;_position:absolute;line-height:14px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;padding:5px 3px 0;display:block;text-align:center;background:#ECF5FD;background:rgba(65,152,235,0.1);border:1px solid #DDECFB;}
.M_gotop:hover{background:#E2F0FC;background:rgba(65,152,235,0.15);text-decoration:none;}
.M_gotop span{display:block;padding:9px 0 12px}
.M_gotop span em.sj{display:block;height:8px; margin:0 0 0 3px; font-size:28px; overflow:hidden; text-align:left;}
.M_gotop span em.fk{display:block;height:5px; margin:-1px 0 2px 4px; margin-bottom:4px\9;*margin-top:-4px; font-size:11px;overflow:hidden;text-align:left;}

/*icon*/
.M_ico{display:inline-block;width:15px;height:15px;vertical-align:middle;background:url(../../images/common/icon.png) no-repeat -35px 0;margin-right:2px;_background-image:url(../../images/common/icon.gif);cursor:pointer;}
.M_icon1{background-position:0 0;width:16px;height:16px;}
.M_icon1:hover{background-position:-70px 0;}
.M_icon1:active{background-position:-35px 0;}
.M_icon2{background-position:0 -30px;width:17px;height:16px;}
.M_icon2:hover{background-position:-70px -30px;}
.M_icon3{background-position:0 -60px;width:19px;}
.M_icon3:hover{background-position:-70px -60px;}
.M_icon3:active{background-position:-35px -60px;}
.M_icon4,.M_icon4_un{background-position:0 -90px;height:12px;}.M_icon4_ly{background-position:0 -1320px;height:12px;}.M_icon4_un{cursor:default;}
a:hover .M_icon4,a:hover .M_icon4_ly{background-position:-70px -90px;}a:active .M_icon4,a:active .M_icon4_ly{background-position:-35px -90px;}
.M_icon5{background-position:0 -120px;height:12px;}.M_icon5_ly{background-position:-35px -1320px;height:12px;}
a:hover .M_icon5,a:hover .M_icon5_ly{background-position:-70px -120px;}a:active .M_icon5,a:active .M_icon5_ly{background-position:-35px -120px;}
.M_icon6,.M_icon6_on{background-position:0 -150px;height:12px;}.M_icon6_ly{background-position:-70px -1320px;height:12px;}
a:hover .M_icon6,a:hover .M_icon6_ly{background-position:-70px -150px;}a:active .M_icon6,a:active .M_icon6_ly{background-position:-35px -150px;}
.M_icon6_on{background-position:-35px -150px;}
.M_icon7,.M_icon7_on,.M_icon7_ly{background-position:0 -180px;width:19px;}.M_icon7_ly{background-position:-35px -1350px;}
.M_icon7_on{background-position:-35px -180px;}
a:hover .M_icon7,a:hover .M_icon7_ly{background-position:-70px -180px;}a:active .M_icon7,a:active .M_icon7_ly{background-position:-35px -180px;}
.M_icon8,.M_icon8_ly{background-position:0 -210px;width:20px;}.M_icon8_ly{background-position:0 -1350px;}
a:hover .M_icon8,a:hover .M_icon8_ly{background-position:-70px -210px;}
.M_icon9{background-position:0 -240px;width:14px;height:14px;}
a:hover .M_icon9{background-position:-70px -240px;}a:active .M_icon9{background-position:-35px -240px;}
.M_icon10{background-position:0 -270px;width:16px;height:10px;}
.M_icon11,.M_icon11_on{background-position:0 -300px;width:13px;height:13px;}
.M_icon11_on{background-position:-35px -300px;vertical-align:-3px;*vertical-align:-1px;}
.M_icon12{background-position:0 -330px;width:14px;height:13px;}
a:hover .M_icon12{background-position:-70px -330px;}a:active .M_icon12{background-position:-35px -330px;}
.M_icon13{background-position:0 -360px;height:14px;width:14px;vertical-align:-3px;*vertical-align:-2px;_vertical-align:0;}
a:hover .M_icon13{background-position:-70px -360px;}a:active .M_icon13{background-position:-35px -360px;}
.M_icon14{background-position:0 -390px;width:13px;height:10px;}
.M_icon15{background-position:0 -420px;width:14px;height:10px;}
.M_icon16,.M_icon16_mr{background-position:0 -450px;width:18px;height:13px;}
.M_icon16_mr{background-position:-35px -450px;}
.M_icon17{background-position:5px -477px;width:9px;height:13px;}.M_icon17_ly{background-position:0 -1290px;width:10px;height:13px;}
a:hover.M_icon17{background-position:-65px -477px;}a:active.M_icon17{background-position:-30px -477px;}
a:hover .M_icon17_ly{background-position:-70px -480px;}a:active .M_icon17_ly{background-position:-35px -480px;}
.M_icon18{background-position:5px -507px;width:9px;height:13px;}.M_icon18_ly{background-position:-35px -1290px;width:10px;height:13px;}
a:hover.M_icon18{background-position:-65px -507px;}a:active.M_icon18{background-position:-30px -507px;}
a:hover .M_icon18_ly{background-position:-70px -510px;}a:active .M_icon18_ly{background-position:-35px -510px;}
.M_icon19{background-position:5px -540px;width:13px;height:9px;}
a:hover.M_icon19{background-position:-65px -540px;}a:active.M_icon19{background-position:-30px -540px;}
.M_icon20{background-position:5px -570px;width:13px;height:9px;}
a:hover.M_icon20{background-position:-65px -570px;}a:active.M_icon20{background-position:-30px -570px;}
.M_icon21{background-position:0 -600px;width:10px;height:14px;}
.M_icon22{background-position:0 -630px;width:12px;height:12px;cursor:default;}
.M_icon23{background-position:0 -690px;}
.M_icon24{background-position:0 -720px;width:12px;height:11px;}
a:hover .M_icon24{background-position:-70px -720px;}a:active .M_icon24{background-position:-35px -720px;}
.M_icon25{background-position:0 -750px;width:14px;height:13px;}
a:hover .M_icon25{background-position:-70px -750px;}a:active .M_icon25{background-position:-35px -750px;}
.M_icon26{background-position:0 -780px;width:12px;height:13px;}
a:hover .M_icon26{background-position:-70px -780px;}a:active .M_icon26{background-position:-35px -780px;}
.M_icon27{background-position:0 -810px;width:13px;height:13px;}
a:hover .M_icon27{background-position:-70px -810px;}a:active .M_icon27{background-position:-35px -810px;}
.M_icon28{background-position:0 -840px;width:13px;height:13px;}
a:hover .M_icon28{background-position:-70px -840px;}a:active .M_icon28{background-position:-35px -840px;}
.M_icon29{background-position:2px -867px;width:12px;height:12px;}
.M_icon30{background-position:0 -900px;width:16px;height:16px;}
.M_icon31{background-position:0 -930px;width:7px;height:4px;overflow:hidden;}
a:hover .M_icon31{background-position:-70px -930px;}
.M_icon32{background-position:0 -1080px;height:13px;cursor:default;}
.M_icon33{background-position:0 -1110px;width:19px;height:14px;}
.M_icon33:hover{background-position:-70px -1110px;}.M_icon33:active{background-position:-35px -1110px;}
.M_icon34,.M_icon35{background-position:0 -1140px;width:11px;height:13px;}
.M_icon35{background-position:-35px -1140px;}
.M_icon36{background-position:0 -1170px;width:14px;height:13px;}
a:hover .M_icon36{background-position:-70px -1170px;}a:active .M_icon36{background-position:-35px -1170px;}
.M_icon37,.M_icon37_on{background-position:0 -1230px;width:15px;height:12px;}
a:hover .M_icon37{background-position:-70px -1230px;}a:active .M_icon37,.M_icon37_on{background-position:-35px -1230px;}
.M_icon38,.M_icon39,.M_icon40{background-position:0 -1260px;width:14px;height:14px;cursor:default;}
.M_icon39{background-position:-35px -1260px;}
.M_icon40{background-position:-70px -1260px;}
.M_icon41{background-position:-70px -1290px;width:13px;height:13px;}
.M_icon42{background-position:0 -1380px;height:16px;}
.M_icon42:hover{background-position:-70px -1380px;}.M_icon42:active{background-position:-35px -1380px;}
.M_icon43{height:11px;width:14px;background-position:-70px -1140px;}
.M_icon44{width:13px;height:13px;background-position:-70px -630px;}
.M_icon45{width:9px;height:14px;background-position:0 -1408px;}