@charset "utf-8";
.P_myalbum .m_user_album,.P_hisalbum .m_user_album{margin:20px 0 0 0;}
.P_myalbum .m_subnav,.P_hisalbum .m_subnav{margin:20px 0 0 0;}
.P_myalbum .m_browse_menu,.P_hisalbum .m_browse_menu{margin:12px 0 0 0;}
.P_myalbum .m_photo_list_a,.P_hisalbum .m_photo_list_a{margin:12px 0 0 0;}
.P_myalbum .m_photo_list_a li,.P_hisalbum .m_photo_list_a li{margin:0 45px 12px 0;}
.P_myalbum .m_pages,.P_hisalbum .m_pages{margin:12px 0 40px 0;}
.P_myalbum .album_count,.P_hisalbum .album_count{margin:12px 0 0 0;}
.P_myalbum .m_piclist,.P_hisalbum .m_piclist{margin:12px 0 0 0;}
.P_myalbum .m_yllw_clew,.P_hisalbum .m_yllw_clew{margin:20px 0 0 0;}
