@charset "utf-8";
.P_authorit_set .m_setBox{margin:20px 0 50px 0;}
.P_authorit_set .m_user_setting{margin:20px 0 0 110px;}
.P_authorit_set .save_seting{padding:58px 0 30px 265px;}
.P_authorit_set .save_seting .M_btn_c{margin:0 5px 0 0;}