@charset "utf-8";
.P_discover_sqr .F_cols_main{width:710px;padding-right:20px;}
.P_discover_sqr .F_cols_second{width:220px;}
.P_discover_sqr .m_dscvrBox{margin-bottom:20px;}
.P_discover_sqr .m_dscvrBox .dscvrBox{height:509px;}
.P_discover_sqr .m_recommendPhoto{margin:25px 0;}
.P_discover_sqr .recommendAlbum{padding:0 0 24px 0;}
.P_discover_sqr .recommendAlbum .rcmndItem{float:left;margin:0 11px 0 19px;width:203px;display:inline;}
.P_discover_sqr .recommendAlbum .m_urinfo_a{padding:0 0 6px 0;}
.P_discover_sqr .recommendUser{background:url(../../images/common/dotted.gif) repeat-x left -1px;margin:0 19px;padding:0 0 15px 0;}
.P_discover_sqr .recommendUser .tit{padding:15px 0 9px;}
.P_discover_sqr .recommendUser .m_rcmnd_groupList .tit{padding-left:20px;}
.P_discover_sqr .m_rcmnd_userList{float:left;}
.P_discover_sqr .m_rcmnd_groupList{float:left;margin-left:8px;display:inline;}
.P_discover_sqr .recommendEvent{height:465px;}
.P_discover_sqr .m_hotEvent{margin:0 20px 27px 20px;}
.P_discover_sqr .m_waterfall{margin-top:20px;position:relative;width:950px;overflow:hidden;}
.P_discover_sqr .waterfall{width:980px;}
.P_discover_sqr .m_pin_box{margin:0 11px 14px 0;}
.P_discover_sqr .m_loadMore{margin-bottom:80px;}

