@charset "utf-8";
.P_phtosort .m_path_tit{margin:24px 0 22px;padding:0 0 18px 0;border-bottom:1px solid #D0D0D0;}
.P_phtosort .m_yllw_clew{margin-top:14px;}
.P_phtosort .m_sortlist{margin-top:20px;width:996px;}
.P_phtosort .m_sortlist_b{margin-bottom:10px;}
.P_phtosort .m_footer{margin-top:40px;}