@charset "utf-8";
.P_phtoshow .m_browse_menu,.P_t_phtoshow .m_browse_menu{padding:20px 0 0 0;}
.P_phtoshow .m_photoItem,.P_t_phtoshow .m_photoItem{padding:20px 0 0 0;}
.P_phtoshow .m_thumb_lst_a,.P_t_phtoshow .m_thumb_lst_a{margin:34px 0 0 0;}
.P_phtoshow .m_commentWrap,.P_t_phtoshow .m_commentWrap{margin:6px 0 43px 0;}
.P_phtoshow .m_user_path,.P_t_phtoshow .m_user_path{padding:20px 0 0 0;}
.P_phtoshow .m_aside,.P_t_phtoshow .m_aside{margin:15px 0 0 0;}
.P_phtoshow .m_photoItem_c .photo,.P_t_phtoshow .m_photoItem_c .photo{height:450px;}
.P_phtoshow .M_icon22, .P_t_phtoshow .M_icon22{display:none;}
/*他人照片最终页,IE6幻灯浏览对齐调整*/
.P_t_phtoshow .m_browse_menu .M_slide_sm{_vertical-align:-5px;}