@charset "utf-8";
.P_myalbum .m_user_album,.P_hisalbum .m_user_album{margin:20px 0 0 0;}
.P_myalbum .m_subnav,.P_hisalbum .m_subnav{margin:20px 0 0 0;}
.P_myalbum .m_browse_menu{margin:15px 0 0 0;}
.P_hisalbum .m_browse_menu{margin:12px 0 0 0;}
.P_myalbum .m_user_albumlist,.P_hisalbum .m_user_albumlist{margin:20px 0 0 0;}
.P_myalbum .m_user_albumlist li,.P_hisalbum .m_user_albumlist li{margin: 0 43px 16px 0;}
.P_myalbum .m_pages,.P_hisalbum .m_pages{padding:13px 10px 40px 0;}
.P_myalbum .M_icon22, .P_hisalbum .M_icon22{display:none;}
.P_myalbum .m_yllw_clew,.P_hisalbum .m_yllw_clew{margin:20px 0 0 0;}