@charset "utf-8";
/*图像浏览侧边*/
.m_aside {background-color:#f9f9f9;border:1px solid #f7f7f7;border-top:none;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.m_aside .widget{padding:16px 9px 20px 9px;border-bottom:1px solid #ececec;}
.m_aside .content {padding:5px 0 0 0;overflow:hidden;}
.m_aside .thumblst .title{position:relative;}
.m_aside .thumblst .t_btn{position:absolute;top:-5px;right:0px;}
.m_aside .title .t_set{margin-left:10px;}
.m_aside .album{border-bottom:none;padding-bottom:0px;}
.m_aside .album .content{padding-top:8px;}
.m_aside .exif{padding-top:10px;}
.m_aside .thumbnail .content{overflow:visible;}
.m_aside .attrib{padding:0 0 5px 0;}
.m_aside .attrib .link a{zoom:1;vertical-align:baseline;}
.m_aside .attrib span{vertical-align:middle;}
.m_aside .show_album .M_arrw_lf{border-style:solid dashed dashed dashed;border-width:5px 5px 0px 5px;border-color:transparent;border-top-color:#5db1f0;}
.m_aside .show_album .attrib .link{font-weight:700;}
.m_aside .hide_album .m_thumbnail{display:none;}
.m_aside .hide_album .attrib .link{font-weight:400;}

.m_aside .m_thumbnail{width:211px;padding-top:4px;}
.m_aside .m_thumbnail_b{width:211px;}
.m_aside .album_pic, .m_aside .map_pic{display:block;}
.m_aside .m_feedback{border-bottom: 1px solid #dcdcdc;padding:6px 9px 15px;}
.m_aside .thumblst{padding-bottom:10px;}
.m_aside .thumblst .content{padding-top:8px;}
.m_aside .hide_relate,.m_aside .hide_thmbnl{display:none;}