@charset "utf-8";
.m_browse_menu .operat,.m_browse_menu .phto_count,.m_browse_menu .tit,.m_browse_menu .lf,.m_browse_menu .sa,.m_browse_menu .se,.m_browse_menu .crt{float:left;}
.m_browse_menu .upfile,.m_browse_menu .browse_type,.m_browse_menu .album_count,.m_browse_menu .rt{float:right;}
.m_browse_menu .operat{height:24px;line-height:24px;}
.m_browse_menu .operat .M_btn_c{margin-right:4px;vertical-align:top;_vertical-align:0px;}
.m_browse_menu .operat .M_slide_sm{margin:0 0 0 10px;zoom:1;}
.m_browse_menu .m_share_like{float:right;}
.m_browse_menu .album_count{line-height:24px;}
.m_browse_menu .m_handle{position:relative;float:left;z-index:3;}
.m_browse_menu .creat{margin-right:10px;float:left;vertical-align:middle;}
.m_browse_menu .sa{margin:8px 10px 0 0;}
.m_browse_menu .crt{margin-top:4px;}
.m_browse_menu .se{margin-right:10px;width:240px;}
.m_browse_menu .m_smltSelect .items{width:234px;}

/*排序操作*/
.m_browse_menu .order{padding:0 0 0 30px;}
.m_browse_menu .order a{margin-right:35px;}
.m_browse_menu .preview{padding:0 15px 0 0;height:24px;line-height:24px;vertical-align:top;zoom:1;}
.m_browse_menu .preview a{margin-left:10px;}
.m_browse_menu .preview .current{font-weight:700;cursor:default;text-decoration:none;}
.m_browse_menu .rt .M_btn_c{margin:0 0 0 5px;}

/*添加照片*/
.m_add_tag .save_tag{text-align:right;}
.m_add_tag .save_tag .M_btn_c{margin:2px 0 0 0;}
.m_add_tag .iptbd{float:left;width:468px;border:1px solid #E1E1E1;padding:0 0 3px 0;width:488px;}
.m_add_tag .iptbd .m_tag_a{margin:0 0 0 3px;}
.m_add_tag .iptbd input.M_txte{width:460px;}
.m_add_tag .iptbd input{border:0 none;height:16px;padding:2px 0 4px 5px;float:left;margin:3px 0 0 0;}
.m_add_tag .recom{overflow:hidden;margin:7px 0 0 0;}
