@charset "utf-8";
.m_dscvrBox{border:1px solid #F2F2F2;border-top:0 none;border-radius:2px;}
.m_dscvrBox .dscvrBox{background:#F3F3F3;border-bottom:1px solid #D9D9D9;}
.m_dscvrBox .tit{padding:14px 20px 14px;line-height:1.2;}
.m_dscvrBox .tit .h{font-weight:700;}
.m_dscvrBox .tit .more{float:right;margin-top:-18px;}