@charset "utf-8";
/*图片垂直居中*/
.m_editphoto{width:236px;vertical-align:baseline;}
.m_editphoto .parea{width:200px;height:200px;font-size:0px;text-align:center;*font-size:166px;}
.m_editphoto .parea:after{content:".";display:inline-block;width:0;height:100%;font-size:0;vertical-align:middle;}
.m_editphoto .parea img{vertical-align:middle;}
.m_editphoto .desc{margin-top:18px;}
.m_editphoto .tag{margin-top:15px;}
.m_editphoto .set{padding-top:8px;position:relative;}
.m_editphoto .set .M_checkbox{margin-right:4px;}

/*编辑区*/
.m_editphoto .M_txtarea{width:189px;height:60px;padding:5px 4px 3px 5px;}
.m_editphoto .M_txtarea,.m_editphoto .inputtxt input{cursor:text;}
.m_editphoto .tag,.m_editphoto .desc{position:relative;}
.m_editphoto .tag dt,.m_editphoto .desc dt{position:absolute;margin-top:5px;}
.m_editphoto .ddbox,.m_editphoto .parea{padding-left:36px;}
.m_editphoto .inputbd{width:198px;border:1px solid #e1e1e1;padding:0 0 3px 0;}
.m_editphoto .inputbd input{border:none;background:none;width:122px;float:left;height:16px;padding:2px 0 4px 0;margin:3px 0 0 5px;}
.m_editphoto .inputbd input.M_txte{width:190px;}
.m_editphoto .taglst{margin-left:3px;}

/*绝对定位层*/
.m_editphoto .tagarea{position:absolute;top:0;left:0;width:180px;padding:7px 9px 9px;border:1px solid #e1e1e1;border-top:none;background:#fff;z-index:1;}
.m_editphoto .tagarea .t{margin-bottom:8px;}
.m_editphoto .tagarea .M_icon29{float:right;margin:2px 0 0 0;}
.m_editphoto .tagarea .m_tag_a{*zoom:1;}