@charset "utf-8";
/*关注*/
.m_follow dt{margin-top:3px;float:left;}
.m_follow dd{padding-left:62px;word-break:break-all;word-wrap:break-word;}
.m_follow .name{line-height:16px;}
.m_follow .fllow{margin-top:3px;}
.m_follow .relate{padding:0;display:none;}
.show_relate .relate{display:block;}
.show_relate .M_arrw_d_c .M_arrw_dw{border-bottom-color:#888;border-width:0 4px 4px 4px;border-style:dashed dashed solid dashed;}
.m_follow .tips{cursor:pointer;display:inline-block;}

.m_follow_a .desc{margin-top:5px;}
.m_follow_a .info{float:left;padding-left:10px;}
.m_follow_a .fllow{float:right;text-align:right;margin-top:10px;width:85px;padding:0px;}

.m_follow_b dt{margin-top:2px;}
.m_follow_b .parea{padding-left:100px;}
.m_follow_b .name{font-size:14px;font-weight:bold;margin-bottom:9px;}
.m_follow_b .name a{_zoom:1;}
.m_follow_b .M_icon43{margin-left:2px;vertical-align:0px;*vertical-align:middle;_vertical-align:-2px;}
.m_follow_b .tip{clear:both;padding:14px 0 0 0;zoom:1;}