@charset "utf-8";
.m_help{padding:25px 0 0 0;}
.m_help .help_guide dt{font-size:14px;font-weight:700;}
.m_help .help_guide .guide{padding:18px 0 38px 140px;}
.m_help .help_guide .t{float:left;background:url(../../images/common/help.png) no-repeat 0 0;margin:0 64px 0 0;height:122px;width:122px;overflow:hidden;line-height:900px;}
.m_help .help_guide .manage{background-position:-124px 0;}
.m_help .help_guide .tercel{background-position:-248px 0;}
.m_help .help_guide .sys{background-position:-372px 0;}
.m_help .help_list{margin:0 0 38px 0;}
.m_help .help_list .t{font-weight:700;padding:0 0 7px 0;}
.m_help .help_list .cont{overflow:hidden;}
.m_help .help_list .list{margin:0 0 -10px 0;}
.m_help .help_list .item{background:url(../../images/common/dotted.gif) repeat-x 0 bottom;line-height:1.2;padding:0 0 9px 0;margin:0 0 9px 0;} 
.m_help .help_list .q{background:url(../../images/common/icon.gif) no-repeat -99px -694px;padding:0 0 0 10px;}
.m_help .help_list .a{margin:12px 0 0 0;display:none;}
.m_help .help_list .a .info{background:#F6F6F6;padding:18px 20px;margin:-6px 0 0 0;line-height:1.8;margin:-8px 0 0 0\9;}
.m_help .help_list .a .arrow{color:#F6F6F6;margin:0 0 0 20px;}
.m_help .help_list .a .close{text-align:right;margin:19px 0 12px 0;}
.m_help .help_list .close .M_icon44{vertical-align:-2px;*vertical-align:0;margin:0 0 0 5px;}
.m_help .help_list .a dt{padding:0 0 5px 0;font-weight:700;}