@charset "utf-8";
.m_hotEvent .t{font-weight:700;}
.m_hotEvent .desc{padding:0 0 8px 0;}
.m_hotEvent .join_event dt{float:left;margin:0 10px 0 0;}
.m_hotEvent .join_event dd{float:left;margin-top:-4px;}
.m_hotEvent .join_event .date{padding:0 0 0 5px;}
.m_hotEvent .join_event .info{padding:0 0 24px 0;}