@charset "utf-8";
.m_pages{padding:0 10px 0 0;}
.m_pages,.m_pages_minibtn{text-align:right;}
.m_pages .M_btn_c{background:url(../../images/common/btn_bg.png) repeat-x 0 0;display:inline-block;border:1px solid #E2E2E2;padding:0 10px;height:22px;line-height:21px;overflow:hidden;line-height:24px\9;_line-height:22px;color:#888;}
.m_pages .M_btn_c:hover{text-decoration:none;background-position:0 -23px;}
.m_pages .pre,.m_pages .next{vertical-align:middle;}
.m_pages .M_icon30{margin:0 0 0 3px;}
.m_pages .list{position:relative;color:#95a8b2;display:inline-block;padding:0 10px;*display:inline;*zoom:1;}
.m_pages .its{display:none;position:absolute;border:1px solid #cdcdcd;background:#fff;bottom:24px;*bottom:25px;left:-3px;_width:80px}
.m_pages .show_list .its{display:block;}
.m_pages .its a{display:block;margin:1px;padding:0 15px;text-align:center;white-space:nowrap;height:23px;line-height:23px;color:#595959;_vertical-align:baseline}
.m_pages .its a:hover{background:#f3f3f3;text-decoration:none;}
.m_pages .its a.current{color:#cacaca}
.m_pages .its a.current:hover{background:none;text-decoration:none}
.m_pages_comment a{background:#FBFBFB;display:inline-block;height:21px;line-height:21px;padding:0 8px;text-align:center;vertical-align:middle;margin:0 3px;}
.m_pages_comment a:hover{background-color:#F1F1F1;text-decoration:none;}
.m_pages_comment a.current{background:none;color:#5db1f0;}
/*迷你按钮分页*/
.m_pages_minibtn a{margin:0 3px;background-color:#FBFBFB;padding:0 4px;height:15px;line-height:15px;display:inline-block;text-align:center;vertical-align:middle;}
.m_pages_minibtn a:hover{background-color:#f3f3f3;text-decoration:none;}
.m_pages_minibtn a.current{background:none;color:#5db1f0}
.m_pages_minibtn span.next,.m_pages_minibtn span.reverse{display:inline-block;text-align:center;vertical-align: middle;line-height:15px;}
.m_pages_minibtn .reverse,.m_pages_minibtn .next{background:url(../../images/common/icon.png) no-repeat;width:17px;height:17px;_background-image:url(../../images/common/icon.gif);padding:0;}
.m_pages_minibtn .reverse{margin:0 7px 0 0;background-position:0 -1020px;}
.m_pages_minibtn .reverse:hover{background-position:-35px -1020px;background-color:transparent;}
.m_pages_minibtn span.reverse,.m_pages_minibtn span.reverse:hover{background-position:-70px -1020px;}
.m_pages_minibtn .next{margin:0 0 0 7px;background-position:0 -1050px;}
.m_pages_minibtn .next:hover{background-position:-35px -1050px;background-color:transparent;}
.m_pages_minibtn span.next,.m_pages_minibtn span.next:hover{background-position:-70px -1050px;}
