@charset "utf-8";
/*组图浏览*/
.m_photo_list_a .photoList{width:735px;}
.m_photo_list_a .photoList li{float:left;width:200px;height:270px;}

/*相册浏览*/
.m_photo_list_c ul{float:left;margin-left:-6px;}
.m_photo_list_c li{float:left;margin:0 0 7px 7px;display:inline;position:relative;width:80px;height:80px;overflow:hidden;}
.m_photo_list_c li .remove{ visibility:hidden}
.m_photo_list_c li a:hover{background:#FFF;}
.m_photo_list_c li a:hover .remove{display:block;position:absolute;top:0;right:0;visibility:visible;margin-right:0;}