@charset "utf-8";
/*照片浏览公用部分*/
.m_photoItem .photo{text-align:center;}
.m_photoItem .photo img{vertical-align:bottom;background:url(../../images/common/loading.gif) no-repeat center center;}
.m_photoItem .mark_box{text-align:right;}
.m_photoItem .mark_box .time{float:left;}
.m_photoItem .edit_tip .M_vline{margin:0 8px;}
.m_photoItem .edit_desc textarea{color:#555;}
.m_photoItem .submit{text-align:right;margin:10px 0 0 0;}
.m_photoItem .submit .M_btn_c{margin-right:5px;vertical-align:middle;}
.m_photoItem .edit_desc{display:none;margin:6px 0 0 0;}
.m_photoItem .edit_tip{visibility:hidden;_visibility:visible;}
/*.phtItem_hv .edit_tip{display:block;}*/
.phtItem_edit .edit_tip,.phtItem_edit .desc{display:none;}
.phtItem_edit .edit_desc{display:block;}
.m_photoItem:hover .edit_tip{visibility:visible;}
/*小图预览模式*/
.m_photoItem_a .mark_box{padding:6px 0 3px 0;}
.m_photoItem_a .desc{width:200px;white-space:nowrap;overflow:hidden;}
.m_photoItem_a .edit_tip{padding:2px 0 0 0;}
.m_photoItem_a .photo{height:200px;width:200px;margin:0 auto;overflow:hidden;}
.m_photoItem_a .time .M_ico{margin:0 0 0 4px;}
/*大图浏览模式*/
.m_photoItem_b{zoom:1;}
.m_photoItem_b .mark_box{padding:10px 0 3px 0;}
.m_photoItem_b .edit_tip{padding:2px 0 0 0;}
.m_photoItem_b dd{padding-bottom:18px;}
.m_photoItem_b .edit_desc textarea{width:680px;}
.m_photoItem_b .desc{word-break:break-all;word-wrap:break-word;}

/*原图浏览模式*/
.m_photoItem_c .photo{position:relative;width:690px;z-index:0;margin:0 auto;}
.m_photoItem_c .mark_box{padding:15px 0 0 0;}
.m_photoItem_c .time{padding:4px 0;}
.m_photoItem_c .desc{padding:0 0 4px 0;word-break:break-all;word-wrap:break-word;}
.m_photoItem_c .edit_desc textarea{width:680px;}
.m_photoItem_c .phot_arrow{position:absolute;top:50%;margin-top:-35px;}
.m_photoItem_c .phot_arrow a{display:block;width:70px;height:70px;background:url(../../images/common/phot_arrow.png) no-repeat 0 0;_background-image:url(../../images/common/phot_arrow.gif);}
.m_photoItem_c .arrow_prev{left:0;}
.m_photoItem_c .arrow_next{right:0;}
.m_photoItem_c .arrow_prev a:hover{background-position:0 -72px;} 
.m_photoItem_c .arrow_next a{background-position:-72px 0;}
.m_photoItem_c .arrow_next a:hover{background-position:-72px -72px;}

/*原图黄色tips*/
.m_photoItem_c .m_yllw_tips{width:295px;position:absolute;left:50%;top:0;margin-left:-162px;cursor:default;}