@charset "utf-8";
.m_recommendPhoto{overflow:hidden;zoom:1;background:url(../../images/module/vein.gif) repeat;padding:10px 0 20px 0;}
.m_recommendPhoto .photolist{float:left;margin:10px 0 0 0;overflow:hidden;width:720px;}
.m_recommendPhoto .photolist li{position:relative;float:left;margin-right:8px;}
.m_recommendPhoto .photolist img{vertical-align:bottom;}
.m_recommendPhoto .show_user .user_cont{display:block;}
.m_recommendPhoto .user_cont{display:none;position:absolute;height:30px;width:232px;overflow:hidden;background:url(../../images/common/alpha_70.png) repeat;padding:10px 0;bottom:0;left:0;_background-color:#888;}
.m_recommendPhoto .user_cont .m_thumb{float:left;margin:0 6px 0 10px;}
.m_recommendPhoto .user_cont .userdesc{float:left;margin-top:-3px;line-height:1.4;}
.m_recommendPhoto .user_cont .desc{color:#CCC;}

.m_recommendPhoto .userlist{float:right;margin-right:-10px;width:240px;overflow:hidden;}
.m_recommendPhoto .userlist li{height:71px;margin-top:10px;*height:69px;overflow:hidden;}
.m_recommendPhoto .user_head{float:left;position:relative;margin:0 10px 0 0;}
.m_recommendPhoto .user_head .alpha{display:block;background-color:#000;filter:alpha(opacity=50);opacity:0.5;position:absolute;top:0;left:0;height:70px;width:70px;cursor:pointer;}
.m_recommendPhoto .hide_alpha .alpha{display:none;}