@charset "utf-8";
/*照片列表拖拽区*/
.m_sortlist li{float:left;}
.m_sortlist li img{vertical-align:bottom;cursor:move;}
.m_sortlist .placeHolder{background-color:#fff;border:1px dashed #808080;padding:0px;}

.m_sortlist_a li{padding:0 46px 30px 0;}
.m_sortlist_a .placeHolder{width:118px;height:118px;margin:0 44px 28px 0;}

.m_sortlist_b li{padding:0 14px 20px 0;}
.m_sortlist_b .placeHolder{width:48px;height:48px;margin:0 12px 18px 0;}