.m_tag_a a,.m_tab_b .tag_box a{float:left;margin:3px 5px 0 0;height:14px;line-height:1.2;padding:2px 10px 4px 10px;padding:4px 10px 2px 10px\9;border:1px solid #F2F2F2;white-space:nowrap;background:#F9F9F9;cursor:default;overflow:hidden;}
.m_tag_a .t{float:left;padding:4px 3px 0 0;padding-top:6px\9;}
.m_tag_a a:hover,.m_tab_b .tag_box a:hover{background:#FFF;border:1px solid #c0e0ff;color:#5db1f0;text-decoration:none;}
.m_tag_a .M_icon29,.m_tab_b .M_icon29{margin-right:-8px;vertical-align:-2px;*vertical-align:0px;}
.m_tab_b .tag_box{overflow:hidden;zoom:1;}
/*.m_tab_b .tag_box a{float:left;white-space:nowrap;margin-left:2px;height:20px;line-height:19px;zoom:1;}
.m_tab_b .tag_box a.tag .M_ico{visibility:hidden;margin-left:3px;vertical-align:-1px;*vertical-align:0px;}
.m_tab_b .tag_box a.tag:hover{border:none;}
.m_tab_b .tag_box a.tag:hover .M_ico{visibility:visible;}*/
.m_tab_b .no_tag{float:left;padding:4px 10px 0 0;}
.m_tab_b .tag_box .M_icon28{background-position:-70px -840px;}
.m_tab_b .tag_box .M_addTag,.m_tab_b .tag_box .M_addTag:hover{border:0 none;background:none;padding-left:0px;padding-right:0px;cursor:pointer;}
.m_tab_b .tag_box .M_addTag:hover{text-decoration:underline;}
.m_tab_b .txtarea_box{margin-top:3px;width:208px;border:1px solid #e1e1e1;padding:0 0 3px 0;background:#FFF;}
.m_tab_b .txtarea_box .addlist{margin:0 0 0 3px;*display:inline-block;zoom:1;}
.m_tab_b .txtarea_box input{border:none 0;margin:3px 0 0 5px;height:16px;line-height:16px;}
.m_tab_b .btn_box{text-align:right;padding-top:10px;line-height:22px;}
.m_tab_b .btn_box .M_btn_c{margin-right:5px;vertical-align:middle;}