@charset "utf-8";
/* 头像列表 */
.m_thumb_lst .thumb_lst,.m_thumb_lst .thumb_lst li{float:left;}
/* 头像列表a */
.m_thumb_lst_a{background:#f3f3f3;padding:9px 0 8px 10px;}
.m_thumb_lst_a .thumb_lst_tl,.m_thumb_lst_a .count{float:left;padding:7px 5px 0 0;line-height:1.2;}
.m_thumb_lst_a .count{padding:7px 0 0 0;}
.m_thumb_lst_a .thumb_lst_tl span{padding-left:3px;}
.m_thumb_lst_a .thumb_lst li{margin-right:10px;}
/* 头像列表b */
.m_thumb_lst_b{ width:210px;overflow:hidden;}
.m_thumb_lst_b .thumb_lst{width:225px;}
.m_thumb_lst_b .thumb_lst li{margin:0 9px 10px 0;}