.m_thumbnail ul,.m_thumbnail_b ul{margin:-10px 0 0 -11px;zoom:1;}
.m_thumbnail li,.m_thumbnail_b li{float:left;display:inline;position:relative;width:63px;height:63px;margin:10px 0 0 11px;}
.m_thumbnail li img,.m_thumbnail_b li img{width:63px;height:63px;display:block;}
.m_thumbnail li a:hover{border:none;}
.m_thumbnail li a:hover img{position:absolute;border:1px solid #5db1f0;padding:2px;top:-3px;left:-3px;}
.m_thumbnail li.cur{position:relative;}
.m_thumbnail li.cur a,
.m_thumbnail li.cur a:hover{position:absolute;width:71px;height:71px;left:-4px;top:-4px;background-color:#777;-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;}
.m_thumbnail li.cur a img,
.m_thumbnail li.cur a:hover img{position:static;margin:3px 0 0 3px;padding:0px;cursor:default;border:1px solid #e1e1e1;}
.m_thumbnail li.empty{background:url(../../images/module/empty_photo.png) no-repeat 0 0;}
.m_thumbnail .M_pages{padding-top:10px;text-align:center;clear:both;}
