@charset "utf-8";
/* 用户信息区域 */
.m_count{}
.m_count .m_user_path{margin-left:16px;}

.m_count .static_num{margin-top:15px;overflow:hidden;}
.m_count .static_num dl{float:left;width:72px;height:52px;text-align:center;}
.m_count .static_num dt{font-family:"Constantia",Georgia;font-size:24px;line-height:25px;padding-bottom:3px;font-weight:700;}
.m_count .static_num dt a,.m_count .static_num dt a:hover{ text-decoration:none;}



