@charset "utf-8";
.m_user_infofrm{overflow:hidden;zoom:1;}
.m_user_infofrm .m_thumb{float:left;margin:0 6px 0 0;}
.m_user_infofrm .info_desc{float:left;margin-top:-2px;}
.m_urinfo_a .desc{font-weight:700;}
.m_urinfo_a .follow{margin:4px 0 0 0;}