@charset "utf-8";
/* 收藏页用户信息 */
.m_user_album .user{float:left;width:610px;}
.m_user_album .user_info,.m_user_album .m_thumb_d{float:left;}
.m_user_album .about{padding:15px 0 0 20px;}
.m_user_album .name{font-size:14px;font-weight:bold;}
.m_user_album .location{padding-top:5px;}
.m_user_album .location .M_ico{cursor:default;}
.m_user_album .M_icon21{margin-right:5px;}
.m_user_album .upload{float:right;margin:108px 0 0 0;}
.m_user_album .M_btn_a{width:157px;}
.m_user_album .M_btn_a span{padding:0 47px 0 28px;}
.m_user_album .fllow{margin-left:20px;}
.m_user_album .M_btn_d_done{margin:0 6px 0 20px;}
.m_user_album .namebox a{vertical-align:middle;}
.m_user_album .static_num{height:64px;padding-top:27px;}
.m_user_album .static_num dl{float:left;width:72px;height:50px;text-align:center;}
.m_user_album .static_num dt{font-family:"Constantia",Georgia;font-size:24px;font-weight:bold;line-height:28px;padding-bottom:3px;}
.m_user_album .static_num dt a, .static_num dt a:hover{text-decoration:none;}