@charset "utf-8";
/* 用户头像区域 */
.m_user_path .m_thumb{float:left;}
.m_user_path .arrow{font-family:"simsun";}

.m_user_path .user_info{padding-left:62px;padding-top:14px;}
.m_user_path .user_info .user_name{height:20px;white-space:nowrap;overflow:hidden;}

.m_user_path .user_file{padding-left:62px;padding-top:8px;}
.m_user_path .file_path{height:26px;}
.m_user_path .file_path .arrow{padding:0 6px;}
.m_user_path .file_path .M_txtd{padding-right:6px;}
.m_user_path .M_slide_sm{margin-left:12px;}
.m_user_path .show_type .m_handle{float:left;position:relative;z-index:1;}

.m_path_tit .h{font-weight:700;float:left;}
.m_path_tit .back{margin-left:20px;float:left;}
