@charset "utf-8";
.m_yllw_tips{background:#FFF9CB;height:29px;text-align:right;padding:5px 15px 0 15px;}
.m_yllw_tips .tips{float:left;line-height:22px;}
.m_yllw_tips .save a{vertical-align:middle;}
.m_yllw_tips .save .M_btn_c{margin-right:5px;vertical-align:middle;}
.m_yllw_clew{border:1px solid #F9F2A7;background:#FEFFE5;}
.m_yllw_clew a.more,.m_yllw_clew .txt{text-align:center;display:block;height:38px;line-height:38px;color:#D4A639;}